/**/*.egg-info/
/**/*.pyc
/**/.cache/
/**/.coverage
/**/.graphqlconfig
/**/.idea/
/**/.mypy_cache/
/**/.pytest_cache/
/**/.python-version
/**/.pytype/
/**/.tox/
/**/MANIFEST
/**/build/
/**/dist/
/**/examples/*.bin
/**/examples/*.tzx
/**/htmlcov/
/**/schema.graphql
/**/scratch/
/**/venv/
